body {
    margin: auto 30em;
    background-color: beige;
}
#full_connections {
    background-color: rgba(165, 42, 42, 0.178);
    position: relative;
    top: 2em;
    padding: 10px;
    color: rgb(255, 148, 8);
    border: 5px solid rgba(255, 0, 0, 0.425);
}
#full_connections strong {
    font-size: 20px;
    position: relative;
    top: -2.5rem;
    left: 3rem;
}
#full_connections img {
    border-radius: 100%;
    width: 80px;
}
#full_connections p {
    position: relative;
    left: 18em;
    top: -4.4em;
    color: rgb(148, 184, 51);
    font-weight:900;
    font-size: 18px;
}
#full_connections ul {
    list-style-type: none;
}
#full_connections h1{
    position: relative;
    left: -14px;
    top: -1em;
    width: 11.2em;
    font-size: 50px;
    background-color: rgb(165, 42, 42);
}