.row {
    margin: 5em;
    display: flex;
    height: 5em;
}
.col {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col, .col-2, .col-3 {
    background-color: rgb(25, 98, 207);
    margin: 1em;
    padding: 1em;
    color: white;
}