#education {
    background-color: wheat;
    position: absolute;
    width: 26.3rem;
    left: 15rem;
    bottom: -5rem;
    border: 4px solid rgba(136, 153, 165, 0.842);
}
.education_head {
    background-color: rgba(97, 49, 14, 0.596);
    display: inline-flex;
    width: 421px;
}