body {
    font-family: roboto, sans-serif; 
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    width: 800px;
    height: 60px;
}
.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 14px;
}
.nav-title {
    width: 43%;
    color: beige;
}
a {
    color: antiquewhite;
    text-decoration: none;
}
a:hover {
    color: black;
}
.btn {
    color: #a6ad86;
    background-color: aqua;
    box-shadow: 2px 3px 5px 2px black;
}
.btn:hover {
    color: rgb(103, 98, 133);
}
.active {
    font-weight: bolder;
}
